:root {
  --main-color: #1abc9c;
  --second-color: #2c3e50;
}

* {
  scroll-behavior: smooth;
}

/* START NAVBAR*/
.bg-navbar {
  background-color: var(--second-color);
  padding: 24px 0px;
  transition: .6s padding;
}

.name-site {
  font-size: 32px;
  line-height: 48px;
  margin: 0px 16px 0px 0px;
  padding: 5px 0px;
  font-weight: 700;
}

/* todo: active link issue*/
.navbar .container ul li a:active {
  background-color: var(--main-color);
}

/* END NAVBAR*/

/* START FOOTER*/
.footer {
  background-color: var(--second-color);
  color: white;
  justify-content: center;
  text-align: center;
  padding: 40px;
  margin: 0px;
}

.card-body {
  background-color: var(--second-color);
}

.icon {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
}

.end {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #1a252f;
  color: white;
}

.end p {
  padding-top: 10px;
}
/* END FOOTER*/

/* START HOME*/
.home {
  background-color: var(--main-color);
  margin-top: 92px;
  min-height: calc(100vh - 112px);
}

img {
  width: 250px;
}

.line {
  height: 4px;
  width: 80px;
  background-color: white;
}
/* END HOME*/

/* START ABOUT*/
.bg-about {
  background-color: var(--main-color);
  margin-top: 92px;
  min-height: calc(100vh - 112px);
}
/* END ABOUT*/

/* START PORTFOLIO*/
.portfolio {
  margin-top: 92px;
  min-height: calc(100vh - 112px);
}

.portfolio h2 {
  color: rgb(44, 62, 80);
}
.lines {
  height: 4px;
  width: 80px;
  background-color: rgb(44, 62, 80);
}

.layer {
  background-color: #1abc9ce6;
  opacity: 0;
  cursor: pointer;
  transition: 0.6s opacity;
}

.layer:hover {
  opacity: 1;
}

/* END PORTFOLIO*/

/* START PORTFOLIO*/
.contact {
  margin-top: 92px;
  min-height: calc(100vh - 112px);
}

/* END PORTFOLIO*/
